<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="log4net.Config" value="CARBatchLog.config"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>   
    <add key="CARErrorCodeResend" value="103" /><!-- error code to resend -->
    <add key="CARMaxExcuteTime" value="60" /><!-- maximum execute time in minute -->
    <add key="CARMaxResend" value="5" /><!-- maximum resend count -->
    <add key="CARSecurityKeySLM" value="12345" />
    <add key="CARSecurityKeyOBT" value="12345" />
    <add key="CARCreateServieName" value="CreateActivityLog" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <!-- SIT Env 
    <add name="SLM_DBEntities" connectionString="metadata=res://*/SLM_DB.csdl|res://*/SLM_DB.ssdl|res://*/SLM_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.3.112.81;Initial Catalog=SLMDB;Persist Security Info=True;User ID=slmdb;Password=password;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OPERDBEntities" connectionString="metadata=res://*/OPER_DB.csdl|res://*/OPER_DB.ssdl|res://*/OPER_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.112.81;initial catalog=OPERDB;persist security info=True;user id=slmdb;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!-- Dev Env -->
    <add name="SLM_DBEntities" connectionString="metadata=res://*/SLM_DB.csdl|res://*/SLM_DB.ssdl|res://*/SLM_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=devdb.turboz.net;Initial Catalog=SLMDB;Persist Security Info=True;User ID=obtdbadmin;Password=#obt.dev2015!;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OPERDBEntities" connectionString="metadata=res://*/OPER_DB.csdl|res://*/OPER_DB.ssdl|res://*/OPER_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devdb.turboz.net;initial catalog=OPERDB;persist security info=True;user id=obtdbadmin;password=#obt.dev2015!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CASLogServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.3.112.46/CARLogService/CASLogService.asmx"
        binding="basicHttpBinding" bindingConfiguration="CASLogServiceSoap"
        contract="CARWebservice.CASLogServiceSoap" name="CASLogServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
