<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!-- Log4Net settings -->
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <file value="D:\Temp\\" />
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="'SlmBatchService_log_'yyyy.MM.dd'.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <maximumFileSize value="10MB"/>
      <maxSizeRollBackups value="4"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!-- Set logging level to OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="OutputDebugStringAppender"/>
    </root>
  </log4net>

  <appSettings>
    <add key="EmailTemplateAutoAssignPath" value="D:\\EmailTemplateAutoAssign.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="SLM_DBEntities" connectionString="metadata=res://*/SLM_DB.csdl|res://*/SLM_DB.ssdl|res://*/SLM_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.112.81;initial catalog=SLMDB;persist security info=True;user id=slmdb;password=password;connection timeout=60;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>