<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="log4net.Config" value="OBTBatchLog.config" />
    <add key="ItemPerSheet" value="100"/>
    <add key="ReportPath" value="D:\Temp\BatchOperReport"/> <!--must not include \ at the end of the path -->
    <add key="ReportPathUser" value="3fp_uat002" />
    <add key="ReportPathPassword" value="P@ssw0rd"/>
    <add key="ReportPathDomain" value="kkbank" />
  </appSettings>
  <connectionStrings>
    <!-- SIT Env -->
  <add name="SLM_DBEntities" connectionString="metadata=res://*/SLM_DB.csdl|res://*/SLM_DB.ssdl|res://*/SLM_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.3.112.81;Initial Catalog=SLMDB;Persist Security Info=True;User ID=slmdb;Password=password;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="OPERDBEntities" connectionString="metadata=res://*/OPER_DB.csdl|res://*/OPER_DB.ssdl|res://*/OPER_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.112.81;initial catalog=OPERDB;persist security info=True;user id=slmdb;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  <!-- Dev Env 
    <add name="SLM_DBEntities" connectionString="metadata=res://*/SLM_DB.csdl|res://*/SLM_DB.ssdl|res://*/SLM_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.202.104.52;Initial Catalog=SLMDB;Persist Security Info=True;User ID=slmdb;Password=password;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OPERDBEntities" connectionString="metadata=res://*/OPER_DB.csdl|res://*/OPER_DB.ssdl|res://*/OPER_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.202.104.52;initial catalog=OPERDB;persist security info=True;user id=slmdb;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     -->
  </connectionStrings>
</configuration>
